.App {
  height: 100vh;
}

.App-logo {
  height: 200px;
}
.ui.header>.image:not(.icon), .ui.header>img.App-logo-horizontal {
    width: 200px;
    max-width: 100%;
    float: left;
}

.App-menu-logo {
    width: 100%;
    height: 100px;
    margin: 0 auto !important;
    margin-right: 100%;
    margin-left: 100%;
}

.App-header {
  background-color: #222;
  padding: 30px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.item.signout {
    color: red;
}

header {
    text-align: center;
}
